.game-board {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        align-content: space-evenly;   
        grid-column-gap: 25px;
        grid-row-gap: 25px;

        width: 50vh;
        height: 50vh;

}

